*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 90%;
    background-color: white;
}

body {
    overflow-x: hidden;
}
/* Navbar*/

.navbar{
    width: 100vw;
    max-width: 100vw;
}

.color-nav{
    background-color: #C74DF2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.nav-item{
    font-weight: bold;
    list-style: none;
    color:black;
    box-sizing: border-box;
    background-attachment: fixed;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    margin: 0 2rem;
}

/* Imagen + texto*/
.imagen{
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../Fotos/fondo1.png);
    background-size: 100%;
    height: 60%;
}
@media (min-width: 480px) {
    .imagen {
        background-image: url(../Fotos/fondo1.png);
        height: 100%;
        background-size:  100%;
    }
}
@media (min-width: 768px) {
    .imagen {
        background-image: url(../Fotos/fondo1.png);
        height: 100%;
        background-size:  100%;
    }
}
@media (min-width: 1200px) {
    .imagen {
        background-image: url(../Fotos/fondo1.png);
        height: 100%;
        background-size:  100%;
    }
}

.tituloprincipal{
    font-size: 28px;
    font-weight: lighter;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 2%;
    letter-spacing: 2.5px;
}

.textobienvenida{
    width: 81%;
    padding: 1.5rem;
    color:white; 
    font-size: 18px;
    font-weight: lighter;
    
}

.invitacion{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 40%;
    margin-top: 5% ;
    margin-bottom: 10%;
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 3rem;
    font-weight: lighter;
}

@media screen and (max-width: 700px){
    .tituloprincipal{
    font-size:20px;
    }

    .invitacion{
    font-size:12px;
    line-height: 1rem;
    margin-top: 5% ;
    margin-bottom: 2%;
    }
    }

    @media screen and (max-width: 400px){
    .tituloprincipal{
    font-size:9px;
    width: 100%;
    margin-top: 20%;
    }

    .invitacion{
    font-size:7px;
    line-height: 0.7rem;
    margin-top: 2% ;
    margin-bottom: 1%;
    width: 100%;
    }
    }

/* Nuestros servicios*/
.titulo{
font-weight: bold;
text-align: center;
font-size: 25px;
letter-spacing: 2px;
padding-top: 5rem;
margin-bottom: 0.05rem;
position: relative;
width: 300px;
margin: 0 auto 5rem auto;
}

.titulo::after{
    content: '';
    width: 50px;
    height: 2.5px;
    background-color: #C74DF2;
    position: absolute;
    left: 125px;
    bottom: -8px;
    margin: 0 auto;
    border-radius: 30px;
}

.subtituloayuda{
    margin-left: 150px;
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3px;
    color: #ffffff; 
    background:#C74DF2;
    border-radius: 25px;
    padding: 7px;
    width: 12%;
    text-align: center;
    transition:ease-in-out 1s;
    animation: cargando 4s;
    animation-iteration-count:1;
    animation-delay: 2s;
}



.subtituloayuda:hover{
    width: 300px;
}

.subtituloayuda1{
    margin-left: 60rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3px;
    color: #ffffff; 
    background:#C74DF2;
    border-radius: 25px;
    padding: 7px;
    width: 18%;
    text-align: center;
    animation: cargando 2s;
    transition:ease-in-out 1s;
    animation-iteration-count: 1;
    animation-delay: 4s;
}

.subtituloayuda1:hover{
    width: 350px;
}
@keyframes cargando {
    100% {
        width: 30%;
    }
}

@media screen and (max-width: 700px){

    .subtituloayuda{
    font-size:10px;
    line-height: 1rem;
    margin: 5% 20% 2% 0.5%;
    width: 50%;
    }
    

    .subtituloayuda1{
    font-size:10px;
    line-height: 1rem;
    margin: 5% 20% 2% 0.5%;
    width: 50%;
    }
    }

@media screen and (max-width: 400px){

    .subtituloayuda{
    font-size:10px;
    line-height: 0.7rem;
    margin: 5% 20% 2% 0.5%;
    width: 50%;
    }
    

    .subtituloayuda1{
    font-size:10px;
    line-height: 0.7rem;
    margin: 5% 20% 2% 0.5%;
    width: 50%;
    }
    }

.grid{
    display: grid;
    grid-template-columns: 3fr 2fr ;
    grid-template-rows: 500px;
    column-gap: 100px;
    }

.services{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin:  2rem 0 2rem 120px;
    padding-top: 0.1rem;
}

.fa-circle-check{
    color:#C74DF2 ;
    font-size: 1.5rem;
}

.imagecontainer{
    position: relative;
}

.image{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 5px;
}

.nuestroservicios{
    display:flex;
    justify-content:center;
}

.grid1{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 410px;
    column-gap: 10px;
    }

@media screen and (max-width: 400px) {
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 280px;
    }
    .grid1{
        grid-template-columns: 1fr;
        grid-template-rows: 340px;
    }
    .services{
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        margin:  2rem 0 2rem 2rem;
        padding-top: 0.1rem;
}
}
@media screen and (max-width: 768px) {
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
    }
    .grid1 {
        grid-template-columns: 4fr 4fr;
        grid-template-rows: 450px 450px;
        column-gap: 2px;
    }

    .services{
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        margin:  2rem 0 2rem 2rem;
        padding-top: 0.1rem;
}
}

.card1{
    border-radius: 10px; 
    width: 70%;
    margin: 5rem 0 3rem 4rem;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.nuestroservicios_img{
    width:30%;
    height: 5rem;
    margin: 10% 20% 10% 35%;
}

.visually-hidden{
    color: black;
}
.whatsapp{
    position: fixed;
    padding: 0.6rem;
    display: block !important;
    border-radius: 0.2rem;
    top: 73%;
    left: 92%;
    z-index: 9999;
    width: 50px;
    height: 50px;
}

.whatsapp:hover{
    transform: scale(1.5);
}

.card1_titulo5{
    font-size: 15px; 
    font-weight:bolder;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
    text-align: center;
    color: #C74DF2;
    letter-spacing: 1.3px;
    font-weight: bold;
}

.card1_texto{
    width: 100%;
    margin-bottom: 2rem;
    color:rgb(75, 67, 67);
    font-size: 15px;
    font-weight: normal;
    box-sizing: border-box;
    padding: 0 2rem;
    font-style: italic;
}

/*Sobre nosotros*/

.quienesomos{
    display: flex;
    justify-content: space-around;
}

.card{
    border-radius: 10px;
    border-style: solid light;
    width: 70%;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-bottom: 10rem;
    margin-left: 5rem;
}

.card_nombre{ 
    font-size: 1.3rem; 
    font-weight:normal;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    letter-spacing: 1px;
}

.card_textodescriptivo{
    width: 100%;
    margin-bottom: 2rem; 
    color:rgb(121, 110, 110);
    font-size: 15px;
    box-sizing: border-box;
    padding: 0 1rem;
    font-style: italic;
}

.boton{
    color:white;
    display: block;
    margin:  0 auto 2rem auto;
    background-color:#C74DF2 ;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 1.7px;
    text-align: center;
    transition: all 1s;
}

.boton:hover{
    background-color:#842ba5;
}
.card_img{ 
    width: 100%;
    height: 23rem;
    border-radius: 10px; 
}

/* Lista index*/

.background{
    background-image: url('../Fotos/Fondo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
}

@media (min-width: 480px) {
    .background{
        background-image: url('../Fotos/Fondo.png');
        background-size: 100%;
    }
}
@media (min-width: 768px) {
    .background {
        background-image: url('../Fotos/Fondo.png');
        background-size: 100%;
    }
}
@media (min-width: 1200px) {
    .background {
        background-image: url('../Fotos/Fondo.png');
        background-size: 100%;
    }
}

.tepodemosayudar{
    font-size: 25px;
    font-weight: lighter;
    padding: 1.5rem;
    letter-spacing: 2px;
    color:white;
    text-align: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.tepodemosayudar::after{
    content: '';
    width: 50px;
    height: 2.5px;
    background-color: white;
    position: absolute;
    left: 125px;
    bottom: 10px;
    margin: 0 auto;
    border-radius: 30px;
}

.lista{
    display:flex;
    justify-content: space-around;
    margin: 1% 40% 5% 5%;
}

.lista_listita1{
    color:white;
    font-size: 12px;
    list-style:square;
    list-style-position: inherit;
    margin-right: 2%;
    margin-left: 4%;
    letter-spacing: 1px;
    line-height: 25px;
}

@media screen and (max-width: 700px){
    .tepodemosayudar{
    font-size:20px;
    margin-bottom: 0.2%;
    }

    .lista{
        margin: 0% auto 20% 4%;
        padding-bottom: 8%;
        width: 70%;
        height: 10%;
    }

    .lista_listita1{
    font-size:8px;
    line-height: 0.8rem;
    margin-top: 0.5% ;
    margin-bottom: 2%;
    }
    }

@media screen and (max-width: 400px){

    .lista{
        margin: 0% auto 20% 4%;
        padding-bottom: 8%;
        width: 70%;
        height: 10%;
    }
    .tepodemosayudar{
    font-size:10px;
    width: 70%;
    margin-top: 0.5%;
    margin-right: 3% ;
    margin-bottom: 0.2%;
    padding: 3.5%;
    }

    .lista_listita1{
    font-size:5px;
    line-height: 0.4rem;
    margin: 0.5% 1% 0% 1%;
    width: auto;
    }
}
/* Page Cursos*/

.info_cursos{
    display: flex ;
    justify-content: space-between;
    margin: 0rem 2rem 6rem 6rem;
}

.info1{ 
    width: 70%;
}

.iconos2{
    font-size: 45px;
    color:#e1b8f0;
    margin-left: 38%;
}

.texto{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: #ca9fda;
    margin-top: 1rem ;
}

.cursos{
    display: flex ;
    justify-content: space-between;
}

.card2{
    border-radius: 10px;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 80%;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
}

.card2_img{ 
    width: 80%;
    height: 12rem;
    border-radius: 10px; 
    margin-left: 1rem;
    margin-bottom: 4%;
}

.card2_titulo{
    font-size: 1.3rem; 
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
}

.card2_subtitulo{
    font-size: 13px; 
    font-weight: lighter;
    font-style: italic;
    color: #C74DF2;
    padding: 0.5rem;
    text-align: center;
}

.card2_texto{
    width: 85%;
    margin: 0.5rem 5rem 2rem 2rem;
    color:rgb(121, 110, 110);
    font-size: 14px;
    font-style: inherit;
    text-align: left;
}

.card2_precioviejo{
    font-weight: lighter;
    text-decoration: line-through;
    color:rgb(121, 110, 110);
    margin: 2px 0px 4px 20px;
}

.card2_precioactual{
    margin: 2px 0px 6px 20px;
    font-weight: bolder;
    font-size: 17px;
    color:#C74DF2;
}

.boton_compra{
    background-color: #C74DF2;
    color: white;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 0.7rem 5rem 0.7rem 5rem;
    border-radius: 10px;
    border:none;
    margin: 20px 20px 20px 40px;
    transition: all 1s;
}

.boton_compra:hover{
    background-color:#842ba5;
}

.form_titulos{
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
    color:rgb(121, 110, 110);
    font-size:medium;
    font-style:inherit;
}

.botontitulos{
    color:white;
    background-color: #C74DF2;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-weight: bold;
    letter-spacing: 0.3px;
    transition: all 1s;
}

.botontitulos:hover{
    background-color:#842ba5;
}

/* Formulario de registro index - contacto*/

.registro{
    border-radius: 0 0 10px 10px;
    border-top: 5px solid #C74DF2;
    width: 50%;
    height: 400px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.subtitulo{
    font-weight: bolder;
    font-size: 15px;
    padding: 0.5rem;
    margin-bottom: 4rem;
    letter-spacing: 2px;
    text-align: center; 
    margin-top: 3rem;
}
.formregistro{
    display:flex;
    justify-content:space-around;
}

@media screen and (max-width: 700px){
    .formregistro{
        flex-direction: column;
        margin: 3% auto 10% 13%;
    }
    .form{
        font-size: 12px;
        width: 50%;
        height: auto;
    } 
    .registro{
        width: 90%;
    }

    .botonform{
        width: 60%;
        text-align: center;
        font-size: 14px;
    }

    .info_necesaria{
        margin-top: 5%;
    }
}

@media screen and (max-width: 400px){
    .formregistro{
        flex-direction: column;
        margin: 5% auto 10% 13%;
    } 
    .form{
        font-size: 12px;
        width: 50%;
        height: auto;
    } 
    .registro{
        width: 90%;
    }

    .botonform{
        width: 10%;
        text-align: center;
        font-size: 10px;
    }

    .info_necesaria{
        margin-top: 10%;
    }
}

.formulario1{
    padding: 1px;
    justify-content: center;
    align-items: center;
    text-align: center; 
    z-index: 5;
    flex-grow: 1;
    margin-top: 0.1rem ;
    margin-bottom: 0.1rem;  
}

.form{
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid grey;
    justify-content: center;
    margin: 0.5rem 1rem 1rem 1rem;
    padding: 4px;
    width: 70%;
    color: #C74DF2;
}

.form:focus{
    outline: none;
}

.form::placeholder{
    color: #9A6060;
    font-style: italic;
    font-size: 0.8rem;
}

.button-container{
    display: flex;
    justify-content: center;
}

.botonform{
    color:white;
    background-color: #C74DF2;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 6rem;
    font-weight: medium;
    letter-spacing: 0.5px;
    transition: all 1s;
}

.botonform:hover{
    background-color:#842ba5;
}

/* Dirección y redes*/
.info_necesaria{
    margin-right: 5%;
    letter-spacing: 2px;
    align-items: center;
}

.info_puntual{
    align-items: center;
}
.info_datos{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 10%;
}

.info_gral{
    margin-bottom: 10%;
    margin-top: 5%;
}

.fa-location-dot{
    font-size: 1.3rem;
}
.fa-whatsapp{
    font-size: 1.3rem;
}

.iconito{
    font-size: 1.3rem;
    color: black;
}

.redicon_{
    margin: 5%;
    width: 15%;
    height: 15%;
}

.redicon_1{
    margin: 5%;
    width: 14%;
    height: 14%;
}

.ubicacion{
    margin-right: 100%;
}

.nuestrasredes{
    margin-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 1.7px;
    font-weight: bold;
}

.redes{
    margin-left: 41%;
    margin-right: 15px ;
}

.redes1{
    width: 4%;
    height: 4%;
    align-items: center;
    margin-left: 15px ;
    margin-right: 15px ;
}

.redes2{
    width: 3.5%;
    height: 3.5%;
    margin-left: 15px ;
    margin-right: 15px ;
}

/*Page nosotros*/

.texto_{
    color:#C74DF2;
    font-size: 13px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 5rem;
    margin-left: 22rem;
    width: 55%;
    text-align: center;
}

.card-info{
    border-radius: 40px;
    width: 80%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-left: 10rem;
    margin-bottom: 4rem;
    color:black;
    justify-content: center;
    display: flex;
}

.card-text-desc{
    min-width: 350px;
    max-width: 350px;
}

.card_img11{
    width: 8rem;
    height: 8rem;
    margin-left: 3px;
    }

.card-info-puntual{
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    }

.card_nombre11{
    font-weight: bold;
    font-size: 16px;
    font-style: oblique;
}

.card_orientacion{
    font-style: italic;
    font-weight: bold;
    font-size: 11px;
}

.fa-envelope{
    color:#C74DF2;
    font-size: 18px;
    margin-right: 4px;
}

.fa-linkedin-in{
    color:#C74DF2;
    font-size: 18px;
    margin-right: 4px;  
}


.boton_perfil{
    background-color: #C74DF2;
    border: none;
    border-radius: 10px;
    padding: 4px 25px 4px 25px;
    margin: 2px 20px 2px 20px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    font-size: 12px;
    transition: all 1s;
}

.boton_perfil:hover{
    background-color:#842ba5;
}
.card_mail{
    font-weight: normal;
    font-style: italic;
}
.card_linkedin{
    font-weight: normal;
    font-style:italic;
}

/*Page contactanos*/

.subtitulo_contacto{
    color:#C74DF2;
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 4rem;
}

/*Page servicios*/

.titulo_servicios{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    padding-top: 5rem;
    margin-bottom: 0.05rem;
    position: relative;
    width: 700px;
    margin: 0 auto 5rem auto;
    }
    
    .titulo_servicios::after{
        content: '';
        width: 50px;
        height: 2.5px;
        background-color: #C74DF2;
        position: absolute;
        left: 320px;
        bottom: -8px;
        margin: 0 auto;
        border-radius: 30px;
    }

.tratamientos_listas{
    display: flex;
    justify-content: center;
}

.div_listas{
    display: flex;
    justify-content: space-between;
    background-color:  #C74DF2;;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    justify-content: center;
    margin: 0.5rem 5rem 1rem 1rem;
    padding: 4px;
    width: 50%;
    height: 50%;
}

.lista_tratamientos{
    margin: 3rem 3rem 3rem 3rem;
    line-height: 2rem;
    color: white;
    font-size: 15px;
}

.titulo_div-servicios{
    font-size: 35px;
    color: #ca9fda;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 25%;
    text-align: center;
}

.subtitulo_servicios{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2rem;
    justify-content: center;
    width: 30rem;
}
.footer{
    margin-top: 100px;
    padding: 2rem;
    text-align: center;
    letter-spacing: 1px;
    color: gray;
    border-top: 0.5px #ECDFDF solid;
}

