@charset "UTF-8";
/* Colores y fuentes */
/* Tamaños de medias queries */
/*Mixin*/
/*Globales*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 90%;
  background-color: white;
}

body {
  overflow-x: hidden;
}

/* Navbar*/
.navbar {
  width: 100vw;
  max-width: 100vw;
}

.color-nav {
  background-color: #C74DF2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.nav-item {
  font-weight: bold;
  list-style: none;
  color: black;
  box-sizing: border-box;
  background-attachment: fixed;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  margin: 0 2rem;
}

/*Extends*/
.botones-generales, .boton_perfil, .botonform, .boton_compra, .boton {
  color: #FFFFFF;
  background-color: #C74DF2;
  font-weight: medium;
  font-size: 14px;
  border: none;
}

.cards-texto, .card2_texto, .card_textodescriptivo, .card1_texto {
  color: rgb(121, 110, 110);
  font-size: 15px;
  font-weight: normal;
}

.cards-titulo, .cardpasos_titulo, .card1_titulo5 {
  color: #996EDD;
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}

.subtitulos-contacto, .subtitulo_contacto, .subtitulo {
  font-weight: bolder;
  margin-bottom: 4rem;
  text-align: center;
}

/* PAGE INDEX*/
/* Imagen + texto*/
.imagen {
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../Fotos/fondo1.png);
  background-size: 100%;
  height: 60%;
}

.tituloprincipal {
  font-size: 28px;
  font-weight: lighter;
  margin-left: 7%;
  margin-top: 8%;
  margin-bottom: 2%;
  letter-spacing: 2.5px;
}

.textobienvenida {
  width: 81%;
  padding: 1.5rem;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: lighter;
}

.invitacion {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 40%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 19px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 3rem;
}

/* Nuestros servicios*/
.titulo {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  padding-top: 5rem;
  margin-bottom: 0.05rem;
  position: relative;
  width: 300px;
  margin: 0 auto 5rem auto;
}

.image_back {
  background-image: url(../Fotos/Background.png);
  background-size: 99.9%;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  height: 100%;
}

.nada_titulo {
  color: #996EDD;
}

.titulo::after {
  content: "";
  width: 50px;
  height: 2.5px;
  background-color: #C74DF2;
  position: absolute;
  left: 125px;
  bottom: -8px;
  margin: 0 auto;
  border-radius: 30px;
}

.subtituloayuda {
  margin-left: 150px;
  margin-bottom: 2rem;
  margin-top: 3rem;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #FFFFFF;
  background: #C74DF2;
  border-radius: 25px;
  padding: 7px;
  width: 12%;
  text-align: center;
  transition: ease-in-out 1s;
  -webkit-animation: cargando 4s;
          animation: cargando 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.subtituloayuda:hover {
  width: 300px;
}

.subtituloayuda1 {
  margin-left: 60rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #FFFFFF;
  background: #C74DF2;
  border-radius: 25px;
  padding: 7px;
  width: 18%;
  text-align: center;
  -webkit-animation: cargando 2s;
          animation: cargando 2s;
  transition: ease-in-out 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.subtituloayuda1:hover {
  width: 350px;
}

@-webkit-keyframes cargando {
  100% {
    width: 30%;
  }
}

@keyframes cargando {
  100% {
    width: 30%;
  }
}
.grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 500px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.services {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 2rem 0 2rem 120px;
  padding-top: 0.1rem;
}

.fa-circle-check {
  color: #996EDD;
  font-size: 1.5rem;
}

.imagecontainer {
  position: relative;
}

.image {
  width: 85%;
  height: 90%;
  position: relative;
  left: 5px;
  margin-bottom: 0.5rem;
}

.nuestroservicios {
  display: flex;
  justify-content: center;
}

.grid1 {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-rows: 410px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin-left: 10rem;
  margin-right: 5rem;
}

/*Media queries index*/
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 280px;
  }
  .grid1 {
    grid-template-columns: 1fr;
    grid-template-rows: 430px;
    row-gap: 5rem;
  }
  .services {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 2rem 0 2rem 1rem;
    padding-top: 0.1rem;
    width: 95%;
  }
  .image_back {
    background-size: 99.9%;
  }
  .image {
    width: 80%;
    height: 85%;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }
  .titulo_nuestroserv {
    font-size: 18px;
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .card1 {
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .boton {
    margin-bottom: 1rem;
    margin-top: 0.1rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
  }
  .grid1 {
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 450px 450px;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 3rem;
    margin-left: 1.5rem;
    margin-bottom: 5rem;
  }
  .services {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 2rem 0 2rem 2rem;
    padding-top: 0.1rem;
  }
}
.card1 {
  border-radius: 10px;
  width: 70%;
  height: 100%;
  margin: 2rem 0 3rem 0rem;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.nuestroservicios_img {
  width: 30%;
  height: 5rem;
  margin: 10% 20% 10% 35%;
}

.visually-hidden {
  color: black;
}

.whatsapp {
  position: fixed;
  padding: 0.6rem;
  display: block !important;
  border-radius: 0.2rem;
  top: 73%;
  left: 92%;
  z-index: 9999;
  width: 50px;
  height: 50px;
}

.whatsapp:hover {
  transform: scale(1.5);
}

.card1_titulo5 {
  font-size: 16px;
  font-weight: bold;
}

.card1_texto {
  width: 100%;
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 0 2rem;
  font-style: italic;
}

/*Sobre nosotros*/
.titulo_sobrenosotros {
  margin-top: 7rem;
}

.quienesomos {
  display: flex;
  justify-content: space-around;
}

.card {
  border-radius: 10px;
  border-style: solid light;
  width: 62%;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 5rem 5rem 3rem 7rem;
}

.card_nombre {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  letter-spacing: 2px;
  color: #996EDD;
}

.card_textodescriptivo {
  width: 90%;
  margin-bottom: 2rem;
  margin-left: 1rem;
  box-sizing: border-box;
  padding: 0 1rem;
  font-style: italic;
}

.boton {
  display: block;
  margin: 0 auto 2rem auto;
  border-radius: 15px;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  letter-spacing: 1.7px;
  text-align: center;
  transition: all 1s;
}

.boton:hover {
  background-color: #842ba5;
}

.card_img {
  width: 100%;
  height: 23rem;
  border-radius: 10px;
}

/* Lista index*/
.background {
  background-image: url("../Fotos/Fondo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
}

.tepodemosayudar {
  font-size: 25px;
  font-weight: lighter;
  padding: 1.5rem;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  position: relative;
}

.tepodemosayudar::after {
  content: "";
  width: 50px;
  height: 2.5px;
  background-color: #FFFFFF;
  position: absolute;
  left: 730px;
  bottom: 10px;
  margin: 0 auto;
  border-radius: 30px;
}

.lista {
  display: flex;
  justify-content: space-around;
  margin: 1% 40% 5% 5%;
}

.lista_listita1 {
  color: #FFFFFF;
  font-size: 15.3px;
  list-style: square;
  list-style-position: inherit;
  margin-right: 2%;
  margin-left: 4%;
  letter-spacing: 1px;
  line-height: 25px;
}

/* Dirección y redes*/
.subtitulo_contacto {
  font-size: 10px;
}

.info_necesaria {
  margin-right: 10%;
  letter-spacing: 2px;
  align-items: center;
}

.info_puntual {
  align-items: center;
}

.info_datos {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 10%;
}

.info_gral {
  margin-bottom: 10%;
  margin-top: 5%;
}

.fa-location-dot {
  font-size: 1.3rem;
}

.fa-whatsapp {
  font-size: 1.3rem;
}

.iconito {
  font-size: 1.3rem;
  color: black;
}

.redicon_ {
  margin: 5%;
  width: 15%;
  height: 15%;
}

.redicon_1 {
  margin: 5%;
  width: 14%;
  height: 14%;
}

.redicon_:hover {
  transform: scale(1.3);
}

.redicon_1:hover {
  transform: scale(1.3);
}

.ubicacion {
  margin-right: 100%;
}

/*Mediaquery index*/
@media (max-width: 480px) {
  .card {
    margin-left: 4rem;
    margin-top: 2rem;
    height: 80%;
  }
  .col {
    margin-bottom: 2rem;
    width: 100%;
    height: 80%;
    margin-left: 1rem;
  }
  .background {
    background-image: url("../Fotos/Fondo.png");
    background-size: 100%;
    height: 100%;
  }
  .imagen {
    background-image: url(../Fotos/fondo1.png);
    height: 100%;
    background-size: 100%;
  }
  .tituloprincipal {
    font-size: 10px;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 0.1rem;
  }
  .invitacion {
    font-size: 6.8px;
    line-height: 0.7rem;
    margin-top: 1%;
    margin-bottom: 0.5%;
    width: 100%;
    height: 20%;
    padding-top: 0.6rem;
  }
  .subtituloayuda {
    font-size: 10px;
    line-height: 0.7rem;
    margin: 5% 20% 2% 0.5%;
    width: 50%;
  }
  .subtituloayuda1 {
    font-size: 10px;
    line-height: 0.7rem;
    margin: 5% 20% 2% 0.5%;
    width: 50%;
  }
  .background {
    height: 10%;
    width: 100%;
    padding-bottom: 0.2rem;
  }
  .lista {
    margin: 0% auto 2% 4%;
    padding-bottom: 2%;
    width: 90%;
    height: 2%;
  }
  .tepodemosayudar {
    font-size: 10px;
    width: 70%;
    margin-top: 0.2rem;
    margin-right: 3%;
    margin-bottom: 0.1rem;
    padding: 2%;
  }
  .lista_listita1 {
    font-size: 6px;
    line-height: 0.5rem;
    margin: 0% 1% 0% 1%;
    width: 100%;
  }
  .nuestroservicios {
    margin-left: 4rem;
  }
  .whatsapp {
    width: 9.5%;
    height: 5%;
  }
  .card1 {
    border-radius: 10px;
    width: 90%;
    height: 90%;
    margin: 2rem 0 2rem 1rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  .card_1 {
    border-radius: 10px;
    width: 90%;
    height: 100%;
    margin: 5rem 0 2rem 1rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  .img {
    width: 25%;
    height: 15%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .img1 {
    width: 25%;
    height: 15%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .card1_titulo5 {
    font-size: 16px;
    letter-spacing: 0.4px;
  }
  .card1_texto {
    font-weight: medium;
    font-style: normal;
    text-align: center;
  }
  .subtitulo_contacto {
    margin-left: 2rem;
  }
  .titulo_sobrenosotros {
    margin-top: 2rem;
    margin-left: 1rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .card {
    width: 45%;
    margin-left: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .background {
    background-image: url("../Fotos/Fondo.png");
    background-size: 100%;
  }
  .tituloprincipal {
    font-size: 20px;
  }
  .invitacion {
    font-size: 12px;
    line-height: 1rem;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .subtituloayuda {
    font-size: 10px;
    line-height: 1rem;
    margin: 5% 20% 2% 0.5%;
    width: 50%;
  }
  .subtituloayuda1 {
    font-size: 10px;
    line-height: 1rem;
    margin: 5% 20% 2% 0.5%;
    width: 50%;
  }
  .tepodemosayudar {
    font-size: 20px;
    margin-bottom: 0.2%;
  }
  .lista {
    margin: 0% auto 20% 4%;
    padding-bottom: 8%;
    width: 70%;
    height: 10%;
  }
  .lista_listita1 {
    font-size: 8px;
    line-height: 0.8rem;
    margin-top: 0.5%;
    margin-bottom: 2%;
  }
  .imagen {
    background-image: url(../Fotos/fondo1.png);
    height: 100%;
    background-size: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .background {
    background-image: url("../Fotos/Fondo.png");
    background-size: 100%;
  }
  .imagen {
    background-image: url(../Fotos/fondo1.png);
    height: 100%;
    background-size: 100%;
  }
  .card1 {
    width: 90%;
    height: 100%;
  }
  .lista_listita1 {
    margin-top: 0.5rem;
    line-height: 1.4rem;
    margin-top: 0.1rem;
  }
}
/* PAGE CURSOS*/
.intro_ {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.imagen_mitad {
  width: 35%;
  height: 10%;
}

.intro_cursos {
  font-size: 16px;
  font-weight: bold;
  width: 50%;
  margin: 0.1rem 15rem 5rem 5rem;
  line-height: 3rem;
}

.info_cursos {
  display: flex;
  justify-content: space-between;
  margin: 0rem 2rem 6rem 6rem;
}

.info1 {
  width: 55%;
  border-color: #FFFFFF;
  border-style: solid;
  margin-left: 3rem;
  margin-right: 10rem;
}

.iconos2 {
  font-size: 45px;
  color: #C74DF2;
  margin-left: 40%;
  margin-top: 10%;
}

.titulo_online {
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  margin-top: 1rem;
  letter-spacing: 1px;
  color: #C74DF2;
}

.texto {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #996EDD;
  margin-top: 1rem;
  box-sizing: border-box;
  margin: 1rem 1rem 3rem 1rem;
}

.cursos {
  display: flex;
  justify-content: space-between;
  margin-left: 4rem;
}

.card2 {
  border-radius: 10px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  width: 70%;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.card2_img {
  width: 80%;
  height: 12rem;
  border-radius: 10px;
  margin-left: 1rem;
  margin-top: 3rem;
  margin-bottom: 4%;
}

.card2_titulo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.card2_subtitulo {
  font-size: 13px;
  font-weight: lighter;
  font-style: italic;
  color: #C74DF2;
  padding: 0.5rem;
  text-align: center;
}

.card2_texto {
  width: 85%;
  margin: 0.5rem 5rem 2rem 2rem;
  font-style: inherit;
  text-align: left;
}

.card2_precioviejo {
  font-weight: lighter;
  text-decoration: line-through;
  color: rgb(121, 110, 110);
  margin: 2px 0px 4px 20px;
}

.precioviejo__ {
  margin-top: 3.8rem;
}

.precioviejo_ {
  margin-top: 5.4rem;
}

.card2_precioactual {
  margin: 2px 0px 6px 20px;
  font-size: 17px;
  font-weight: bolder;
  color: #C74DF2;
}

.boton_compra {
  letter-spacing: 1px;
  padding: 0.7rem 5rem 0.7rem 5rem;
  border-radius: 10px;
  margin: 20px 20px 20px 40px;
  transition: all 1s;
}

.boton_compra:hover {
  background-color: #842ba5;
}

.form_titulos {
  width: 100%;
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
  color: rgb(121, 110, 110);
  font-size: medium;
  font-style: inherit;
}

.botontitulos {
  color: #FFFFFF;
  background-color: #C74DF2;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-weight: bold;
  letter-spacing: 0.3px;
  transition: all 1s;
}

.botontitulos:hover {
  background-color: #842ba5;
}

/*Mediaquery Cursos*/
@media (max-width: 480px) {
  .intro_cursos {
    font-size: 14px;
    font-weight: bold;
    width: 95%;
    margin: 0.1rem 5rem 1rem 3rem;
    line-height: 2rem;
  }
  .imagen_mitad {
    width: 10%;
  }
  .intro_ {
    margin-bottom: 3rem;
  }
  .cursos {
    margin-left: 0.1rem;
    margin-right: 2rem;
  }
  .info_cursos {
    margin-left: 2rem;
    margin-bottom: 0.2rem;
  }
  .iconos2 {
    margin-left: 1.9rem;
  }
  .card2 {
    width: 100%;
    margin-left: 0.1rem;
  }
  .col1 {
    margin-left: 0.1rem;
    width: 100%;
    padding: 0.1rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .cursos {
    width: 75%;
    margin-left: 8rem;
  }
  .info_cursos {
    margin-left: 12rem;
  }
}
@media (max-width: 480px) {
  .cursos {
    width: 95%;
    margin-left: 0.4rem;
    margin-right: 10px;
  }
  .boton_compra {
    padding: 0.2rem 4rem 0.2rem 4rem;
    width: 80%;
    height: 5%;
    margin-left: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .cursos {
    width: 100%;
    margin-left: 0.1rem;
    margin-right: 4rem;
  }
  .card2 {
    width: 95%;
    margin-right: 4rem;
    margin-left: 0.5rem;
  }
  .old_price {
    margin-top: 4rem;
  }
}
/* Formulario de registro index - contacto*/
.registro {
  border-radius: 0 0 10px 10px;
  border-top: 5px solid #C74DF2;
  width: 50%;
  height: 400px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.subtitulo {
  font-size: 15px;
  padding: 0.5rem;
  letter-spacing: 2px;
  margin-top: 3rem;
}

.formregistro {
  display: flex;
  justify-content: space-around;
}

.formulario1 {
  padding: 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;
  flex-grow: 1;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.form {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid grey;
  justify-content: center;
  margin: 0.5rem 1rem 1rem 1rem;
  padding: 4px;
  width: 70%;
  color: #C74DF2;
}

.form:focus {
  outline: none;
}

.form::-moz-placeholder {
  color: #494545;
  font-style: italic;
  font-size: 0.8rem;
}

.form:-ms-input-placeholder {
  color: #494545;
  font-style: italic;
  font-size: 0.8rem;
}

.form::placeholder {
  color: #494545;
  font-style: italic;
  font-size: 0.8rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.botonform {
  border-radius: 10px;
  padding: 0.5rem 6rem;
  letter-spacing: 0.5px;
  transition: all 1s;
}

.botonform:hover {
  background-color: #842ba5;
}

/*PAGE CONTACTOS*/
.subtitulo_contacto {
  font-size: 22px;
  color: #C74DF2;
  letter-spacing: 1px;
  margin-bottom: 5rem;
  margin-top: 8rem;
}

.titulo_informacion {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ca9fda;
  margin: 10% 8% 20% 0%;
}

/*Mediaquery Contacto*/
@media (min-width: 480px) and (max-width: 768px) {
  .formregistro {
    flex-direction: column;
    margin: 3% auto 10% 13%;
  }
  .form {
    font-size: 12px;
    width: 50%;
    height: auto;
  }
  .registro {
    width: 90%;
  }
  .botonform {
    width: 60%;
    text-align: center;
    font-size: 14px;
  }
  .info_necesaria {
    margin-top: 5%;
    text-align: center;
  }
  .titulo_informacion {
    margin: 5rem;
    font-size: 24px;
  }
  .redicon_ {
    width: 40px;
    height: 40px;
  }
  .redicon_1 {
    width: 40px;
    height: 40px;
  }
  .datos_ {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .formregistro {
    flex-direction: column;
    margin: 5% 5% 10% 5%;
  }
  .form {
    font-size: 12px;
    width: 70%;
    height: auto;
  }
  .registro {
    width: 100%;
  }
  .botonform {
    width: 90%;
    text-align: center;
    font-size: 10px;
  }
  .button-container {
    width: 90%;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }
  .info_necesaria {
    margin-top: 10%;
    text-align: center;
    margin-left: 2rem;
  }
  .titulo_informacion {
    margin: 2rem 0rem 5rem 1rem;
    font-size: 20px;
    width: 100%;
  }
  .redicon_ {
    width: 35px;
    height: 35px;
  }
  .redicon_1 {
    width: 30px;
    height: 30px;
  }
  .datos_ {
    font-size: 20px;
  }
}
/*PAGE NOSOTROS*/
.texto_ {
  color: black;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 2rem 30rem 8rem 50rem;
  width: 45%;
  text-align: left;
  line-height: 2.5rem;
}

.card-info {
  border-radius: 40px;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-left: 10rem;
  margin-bottom: 4rem;
  color: black;
  display: flex;
  justify-content: center;
}

.card-text-desc {
  min-width: 350px;
  max-width: 350px;
}

.card_img11 {
  width: 8rem;
  height: 8rem;
  margin-left: 3px;
}

.card-info-puntual {
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
}

.card_nombre11 {
  font-size: 16px;
  font-weight: bold;
  font-style: oblique;
}

.card_orientacion {
  font-style: italic;
  font-size: 11px;
  font-weight: bold;
}

.fa-envelope {
  color: #C74DF2;
  font-size: 18px;
  margin-right: 4px;
}

.fa-linkedin-in {
  color: #C74DF2;
  font-size: 18px;
  margin-right: 4px;
}

.boton_perfil {
  border-radius: 10px;
  padding: 4px 25px 4px 25px;
  margin: 2px 20px 2px 20px;
  letter-spacing: 1px;
  transition: all 1s;
}

.boton_perfil:hover {
  background-color: #842ba5;
}

.card_mail {
  font-weight: normal;
  font-style: italic;
}

.card_linkedin {
  font-weight: normal;
  font-style: italic;
}

.nuestrasredes {
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
  letter-spacing: 1.7px;
  font-weight: bold;
  color: #996EDD;
}

.redes {
  margin-left: 41%;
  margin-right: 15px;
}

.redes1 {
  width: 4%;
  height: 4%;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.redes1:hover {
  transform: scale(1.3);
}

.redes2 {
  width: 3.5%;
  height: 3.5%;
  margin-left: 15px;
  margin-right: 15px;
}

.redes2:hover {
  transform: scale(1.3);
}

/*Media queries Page nosotros*/
@media screen and (max-width: 480px) {
  .nuestrasredes {
    font-size: 18px;
    text-align: lcenter;
    margin-left: 5%;
  }
  .redes {
    margin-left: 2rem;
  }
  .redes1 {
    width: 22px;
    height: 22px;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
  .redes2 {
    width: 19px;
    height: 19px;
    align-items: center;
    margin-left: 1rem;
    margin-right: 2rem;
  }
  .texto_ {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 2rem 5rem 8rem 4rem;
    width: 70%;
    line-height: 25px;
  }
  .quienesomos1 {
    display: block;
    justify-items: auto;
    align-items: center;
  }
  .card-info {
    width: 100%;
    height: 50%;
    border-radius: 20px;
    margin-left: 0.3rem;
    margin-bottom: 4rem;
    color: black;
    width: 97%;
    display: block;
  }
  .card-text-desc {
    width: 80%;
    height: 10%;
    font-style: italic;
    font-size: 11px;
    margin-top: 1rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .card-info-puntual {
    padding: 0 0.2rem;
    line-height: 35px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .card_img11 {
    width: 8rem;
    height: 8rem;
    margin-left: 8rem;
    align-items: flex-start;
    margin-top: 2rem;
  }
  .card_nombre11 {
    font-size: 17px;
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
    height: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    width: 20rem;
  }
  .card_orientacion {
    font-style: italic;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-left: 0.5rem;
    width: 100%;
    height: 1rem;
  }
  .boton_perfil {
    font-size: 12px;
    background-color: #C74DF2;
    font-weight: medium;
    border: none;
    border-radius: 10px;
    padding: 1px 10px 1px 10px;
    margin: 0px 28px 40px 27px;
    letter-spacing: 1px;
    transition: all 1s;
  }
  .card_mail {
    font-size: 10px;
    font-weight: medium;
    font-style: italic;
    width: 18rem;
    height: 1rem;
    margin-top: 0.1rem;
    margin-left: 7rem;
  }
  .card_linkedin {
    font-size: 10px;
    font-weight: medium;
    font-style: italic;
    width: 18rem;
    height: 1rem;
    margin-top: 0.1rem;
    margin-left: 7rem;
  }
  .fa-envelope {
    color: #C74DF2;
    font-size: 12px;
    margin-right: 2px;
  }
  .fa-linkedin-in {
    color: #C74DF2;
    font-size: 14px;
    margin-right: 4px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .nuestrasredes {
    font-size: 20px;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 4rem;
  }
  .redes {
    margin-left: 20rem;
  }
  .redes1 {
    width: 20px;
    height: 22px;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
  .redes2 {
    width: 19px;
    height: 19px;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
  .texto_ {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 7rem 20rem 5rem 7rem;
    width: 70%;
    line-height: 25px;
  }
  .quienesomos1 {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .card-info {
    width: 98%;
    height: 100%;
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-bottom: 4rem;
    color: black;
  }
  .card-text-desc {
    min-width: 40px;
    max-width: 40px;
    height: 10%;
    font-style: italic;
    font-size: 10px;
    line-height: 14px;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  .card_textodescriptivo11 {
    width: 20%;
    height: 10%;
  }
  .card_img11 {
    width: 8rem;
    height: 8rem;
    margin: 1rem 0rem 1rem 0rem;
    align-items: flex-start;
  }
  .card_nombre11 {
    font-size: 14px;
    font-weight: bolder;
    font-style: oblique;
    text-align: justify;
  }
  card_orientacion {
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
    text-align: left;
  }
  .boton_perfil {
    font-size: 10px;
    background-color: #C74DF2;
    font-weight: medium;
    border: none;
    border-radius: 10px;
    padding: 2px 20px 2px 20px;
    margin-right: 2px;
    align-items: flex-end;
    transition: all 1s;
  }
  .card_mail {
    font-size: 11px;
    font-weight: medium;
    font-style: italic;
  }
  .card_linkedin {
    font-size: 11px;
    font-weight: medium;
    font-style: italic;
  }
  .fa-envelope {
    color: #C74DF2;
    font-size: 12px;
    margin-right: 2px;
  }
  .fa-linkedin-in {
    color: #C74DF2;
    font-size: 14px;
    margin-right: 4px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .texto_ {
    margin-left: 20rem;
    width: 70%;
  }
  .card-info {
    width: 99%;
    margin-left: 0.5rem;
  }
  .card_img11 {
    width: 7rem;
    height: 6.5rem;
  }
}
/*PAGE SERVICIOS*/
.titulo_servicios::after {
  content: "";
  width: 50px;
  height: 2.5px;
  background-color: #C74DF2;
  position: absolute;
  left: 120px;
  bottom: -8px;
  margin: 0 auto;
  border-radius: 30px;
}

.texto_unico {
  margin-bottom: 3.4rem;
}

.nuestroservicios_ {
  margin-bottom: 4rem;
}

.tratamientos_listas {
  display: flex;
  justify-content: center;
}

.div_listas {
  display: flex;
  justify-content: center;
  background-color: #C74DF2;
  box-sizing: border-box;
  border-radius: 15px;
  border: none;
  margin: 0.5rem 5rem 1rem 1rem;
  padding: 4px;
  width: 50%;
  height: 50%;
}

.lista_tratamientos {
  margin: 3rem 3rem 3rem 3rem;
  line-height: 2rem;
  color: #FFFFFF;
  font-size: 15px;
}

.titulo_div-servicios {
  font-size: 35px;
  font-weight: bold;
  color: #996EDD;
  margin-bottom: 10%;
  margin-top: 25%;
  text-align: center;
}

.subtitulo_servicios {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 2rem;
  justify-content: center;
  width: 30rem;
}

.titulo_servicios_ {
  font-size: 25px;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 4rem;
  text-align: center;
  letter-spacing: 2px;
}

.card_pasos {
  border-style: solid;
  border-radius: 10px;
  border-color: #C74DF2;
  width: 65%;
  height: 80%;
  margin: 5rem 1rem 3rem 3rem;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.cardpasos_titulo {
  font-size: 18px;
  font-weight: bold;
}

.cardpasos_texto {
  font-size: 15px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  box-sizing: border-box;
  margin: 0 1rem 2rem 1rem;
}

.icon_pasos {
  font-size: 45px;
  color: #842ba5;
  padding: 30px 50px 30px 70px;
}

/*Media query Page servicios*/
@media (max-width: 480px) {
  .nuestroservicios_ {
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .titulo_servicios {
    font-size: 22px;
    margin: 0rem 0rem 4rem 2rem;
  }
  .doslistas_tratamiento {
    margin-left: 8px;
    width: 25rem;
  }
  .titulo_servicios::after {
    content: "";
    width: 50px;
    height: 2.5px;
    background-color: #C74DF2;
    position: absolute;
    left: 120px;
    bottom: -8px;
    margin: 0 auto;
    border-radius: 30px;
  }
  .titulo_servicios_ {
    font-size: 22px;
    font-weight: bold;
    margin: 4rem 2rem 4rem 2rem;
    text-align: center;
  }
  .tratamientos_listas {
    display: block;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width: 100%;
  }
  .div_listas {
    display: flex;
    justify-content: center;
    background-color: #C74DF2;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    margin: 0.5rem 1rem 1rem 0.1rem;
    padding: 1px;
    width: 98%;
    height: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  .lista_tratamientos {
    margin: 2rem 2rem 2rem 0.2rem;
    line-height: 2rem;
    width: 9rem;
    color: #FFFFFF;
    font-size: 13px;
  }
  .titulo_div-servicios {
    font-size: 25px;
    font-weight: bold;
    color: #ca9fda;
    margin-bottom: 10%;
    margin-top: 25%;
    text-align: center;
  }
  .subtitulo_servicios {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2rem;
    text-align: center;
    width: 20rem;
    margin-left: 1.3rem;
    margin-bottom: 7rem;
  }
  .card_pasos {
    border-style: solid;
    border-radius: 10px;
    border-color: #C74DF2;
    width: 90%;
    margin: 5rem 1rem 3rem 1rem;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  .card_pasosesion {
    height: 80%;
  }
  .cardpasos_titulo {
    font-size: 15px;
    font-weight: bolder;
  }
  .cardpasos_texto {
    font-size: 14px;
    font-weight: medium;
    font-style: italic;
    text-align: center;
    box-sizing: border-box;
    margin: 0 1rem 3rem 1rem;
  }
  .icon_pasos {
    font-size: 35px;
    color: #842ba5;
    padding: 30px 30px 30px 55px;
  }
  .card1_ {
    border-radius: 10px;
    width: 80%;
    margin: 5rem 0 2rem 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  .img11 {
    width: 22%;
    height: 15%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .card1_titulo5_ {
    font-size: 16px;
    letter-spacing: 0.4px;
  }
  .card1_texto_ {
    font-weight: medium;
    font-style: normal;
    text-align: center;
  }
  .card__ {
    margin-right: 8rem;
    margin-left: 4rem;
    width: 60%;
  }
  .redes_titulo {
    font-size: 20px;
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .titulo_servicios__ {
    font-size: 25px;
    margin: 8rem 0rem 4rem 15rem;
  }
  .titulo_servicios::after {
    content: "";
    width: 50px;
    height: 2.5px;
    background-color: #C74DF2;
    position: absolute;
    left: 120px;
    bottom: -8px;
    margin: 0 auto;
    border-radius: 30px;
  }
  .titulo_servicios_ {
    font-size: 22px;
    font-weight: bold;
    margin: 4rem 2rem 4rem 4rem;
    text-align: center;
  }
  .tratamientos_listas {
    display: block;
  }
  .div_listas {
    display: flex;
    justify-content: center;
    background-color: #C74DF2;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
    margin: 0.5rem 1rem 1rem 3rem;
    padding: 4px;
    width: 90%;
    height: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  .lista_tratamientos {
    margin: 2rem 1rem 2rem 1rem;
    line-height: 2rem;
    width: 20rem;
    color: #FFFFFF;
    font-size: 13px;
  }
  .titulo_div-servicios {
    font-size: 28px;
    font-weight: bold;
    color: #ca9fda;
    margin-bottom: 10%;
    margin-top: 15%;
    text-align: center;
  }
  .subtitulo_servicios {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2rem;
    text-align: center;
    width: 30rem;
    margin-left: 10rem;
    margin-bottom: 7rem;
  }
  .card_pasos {
    border-style: solid;
    border-radius: 10px;
    border-color: #C74DF2;
    width: 90%;
    margin: 5rem 1rem 3rem 2rem;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  .cardpasos_titulo {
    font-size: 15px;
    font-weight: bolder;
  }
  .cardpasos_texto {
    font-size: 14px;
    font-weight: medium;
    font-style: italic;
    text-align: center;
    box-sizing: border-box;
    margin: 0 1.5rem 0 1.5rem;
  }
  .icon_pasos {
    font-size: 35px;
    color: #842ba5;
    padding: 30px 50px 30px 70px;
  }
  .card1 {
    border-radius: 10px;
    width: 80%;
    height: 100%;
    margin: 5rem 2rem 2rem 2rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  .img1 {
    width: 25%;
    height: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .img11 {
    width: 22%;
    height: 15%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .card1_titulo5_ {
    font-size: 18px;
    letter-spacing: 0.4px;
  }
  .card1_texto_ {
    width: 20px;
    height: medium;
    font-weight: medium;
    font-style: medium;
    text-align: center;
    width: 85%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .card__ {
    width: 60%;
    margin-bottom: 2rem;
    margin-left: 9rem;
  }
  .nuestroservicios_ {
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 480px 480px;
    -moz-column-gap: 2px;
         column-gap: 2px;
    margin-left: 2rem;
    margin-right: 1rem;
  }
  .redes_titulo {
    font-size: 22px;
  }
  .redes {
    margin-left: 20rem;
  }
  .redes1 {
    width: 20px;
    height: 22px;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
  .redes2 {
    width: 19px;
    height: 19px;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .nuestroservicios_ {
    width: 100%;
    margin-right: 2rem;
    margin-left: 0.2rem;
  }
  .card1_ {
    width: 100%;
    margin-left: 1rem;
    margin-right: 2rem;
  }
  .card1_texto_ {
    text-align: left;
  }
  .card__ {
    margin-left: 0.2rem;
    width: 100%;
  }
  .card_pasos {
    width: 75%;
    height: 90%;
    margin-left: 0.2rem;
  }
}
/*FOOTER*/
.footer {
  margin-top: 100px;
  padding: 2rem;
  text-align: center;
  letter-spacing: 1px;
  color: gray;
  border-top: 0.5px #ECDFDF solid;
}/*# sourceMappingURL=styles.css.map */