
/*Globales*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 90%;
    background-color: white;
}

body {
    overflow-x: hidden;
}

/* Navbar*/

.navbar{
    width: 100vw;
    max-width: 100vw;
}

.color-nav{
    background-color: $color-principal;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.nav-item{
    font-weight: bold;
    list-style: none;
    color:black;
    box-sizing: border-box;
    background-attachment: fixed;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    margin: 0 2rem;
}

/*Extends*/
.botones-generales{
    color:$color-secundario;
    background-color: $color-principal;
    font-weight: medium;
    font-size: 14px;
    border: none;
}

.cards-texto{
    color:rgb(121, 110, 110);
    font-size: 15px;
    font-weight: normal
}

.cards-titulo{
    color: #996EDD;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
}

.subtitulos-contacto{
    font-weight: bolder;
    margin-bottom: 4rem;
    text-align: center;
}