
/* PAGE INDEX*/
/* Imagen + texto*/
.imagen{
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../Fotos/fondo1.png);
    background-size: 100%;
    height: 60%;
}

.tituloprincipal{
    @include tipografia (28px, lighter);
    margin-left: 7%;
    margin-top: 8%;
    margin-bottom: 2%;
    letter-spacing: 2.5px;
}

.textobienvenida{
    width: 81%;
    padding: 1.5rem;
    color:$color-secundario; 
    @include tipografia (18px, lighter); 
}

.invitacion{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 40%;
    margin-left: 5%;
    margin-top: 5% ;
    margin-bottom: 10%;
    @include tipografia (19px, lighter);
    letter-spacing: 2px;
    line-height: 3rem;
}

/* Nuestros servicios*/
.titulo{
    font-weight: bold;
    text-align: center;
    font-size: $size-titulos;
    letter-spacing: 2px;
    padding-top: 5rem;
    margin-bottom: 0.05rem;
    position: relative;
    width: 300px;
    margin: 0 auto 5rem auto;
}

.image_back{
    background-image: url(../Fotos/Background.png);
    background-size: 99.9%;
    background-repeat: no-repeat;
    background-position: bottom center ;
    @include sizes(100%, 100%);
}

.nada_titulo{
    color: #996EDD;
}
.titulo::after{
    content: '';
    @include sizes(50px, 2.5px);
    background-color:$color-principal;
    position: absolute;
    left: 125px;
    bottom: -8px;
    margin: 0 auto;
    border-radius: 30px;
}

.subtituloayuda{
    margin-left: 150px;
    margin-bottom: 2rem;
    margin-top: 3rem;
    @include tipografia (15px, bold);
    letter-spacing: 3px;
    color: $color-secundario; 
    background:$color-principal;
    border-radius: 25px;
    padding: 7px;
    width: 12%;
    text-align: center;
    transition:ease-in-out 1s;
    animation: cargando 4s;
    animation-iteration-count:1;
    animation-delay: 2s;
}

.subtituloayuda:hover{
    width: 300px;
}

.subtituloayuda1{
    margin-left: 60rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    @include tipografia (15px, bold);
    letter-spacing: 3px;
    color: $color-secundario; 
    background:$color-principal;
    border-radius: 25px;
    padding: 7px;
    width: 18%;
    text-align: center;
    animation: cargando 2s;
    transition:ease-in-out 1s;
    animation-iteration-count: 1;
    animation-delay: 4s;
}

.subtituloayuda1:hover{
    width: 350px;
}

@keyframes cargando {
    100% {
        width: 30%;
    }
}

.grid{
    display: grid;
    grid-template-columns: 3fr 2fr ;
    grid-template-rows: 500px;
    column-gap: 100px;
}

.services{
    @include tipografia (19px, bold);
    letter-spacing: 1px;
    margin:  2rem 0 2rem 120px;
    padding-top: 0.1rem;
}

.fa-circle-check{
    color:#996EDD ;
    font-size: 1.5rem;
}

.imagecontainer{
    position: relative;
}

.image{
    @include sizes(85%, 90%);
    position: relative;
    left: 5px;
    margin-bottom: 0.5rem;
}

.nuestroservicios{
    @include flex-justify-center;
}

.grid1{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 410px;
    column-gap: 5px;
    margin-left: 10rem;
    margin-right: 5rem;
}


/*Media queries index*/

@media screen and (max-width: $pantalla-chica ) {
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 280px;
    }

    .grid1{
        grid-template-columns: 1fr;
        grid-template-rows: 430px;
    }

    .services{
        @include tipografia (14px, bold);
        letter-spacing: 1px;
        margin:  2rem 0 2rem 2rem;
        padding-top: 0.1rem;
        width: 95%;
    }

    .image_back{
        background-size: 99.9%;
    }

    .image{
        width: 68%;
        height: 75%;
        margin-bottom: 1rem;
        margin-left: 4rem;
    }

    .titulo_nuestroserv{
        font-size: 18px;
    }

    .card1{
    margin-right: 5rem;
    margin-left: 5rem;
    }

    .boton_especial{
        margin-bottom: 0.5rem;
    }
}

@media(min-width: $pantalla-chica) and (max-width: $pantalla-mediana){
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
    }
    
    .grid1 {
        grid-template-columns: 4fr 4fr;
        grid-template-rows: 450px 450px;
        column-gap: 15px;
        row-gap:3rem;
        margin-left: 1.5rem;
        margin-bottom: 5rem;
    }

    .services{
        @include tipografia (15px, bold);
        letter-spacing: 1px;
        margin:  2rem 0 2rem 2rem;
        padding-top: 0.1rem;
    }
}

.card1{
    border-radius: $radius-card; 
    @include sizes(70%, 90%);
    margin: 5rem 0 3rem 0rem;
    background-color: $color-secundario;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.nuestroservicios_img{
    @include sizes(30%, 5rem);
    margin: 10% 20% 10% 35%;
}

.visually-hidden{
    color: black;
}

.whatsapp{
    position: fixed;
    padding: 0.6rem;
    display: block !important;
    border-radius: 0.2rem;
    top: 73%;
    left: 92%;
    z-index: 9999;
    @include sizes(50px, 50px);
}

.whatsapp:hover{
    transform: scale(1.5);
}

.card1_titulo5{
    @include tipografia (16px, bold);
    @extend .cards-titulo;
}

.card1_texto{
    @extend .cards-texto;
    width: 100%;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 0 2rem;
    font-style: italic;
}

/*Sobre nosotros*/
.titulo_sobrenosotros{
    margin-top: 7rem;
}
.quienesomos{
    @include flex-justify-spacearound;
}

.card{
    border-radius: $radius-card;
    border-style: solid light;
    width: 62%;
    background-color: $color-secundario;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: 5rem 5rem 3rem 7rem;
}

.card_nombre{ 
    @include tipografia (17px, bold);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    letter-spacing: 2px;
    color:#996EDD;
}

.card_textodescriptivo{
    @extend .cards-texto;
    width: 90%;
    margin-bottom: 2rem; 
    margin-left: 1rem;
    box-sizing: border-box;
    padding: 0 1rem;
    font-style: italic;
}

.boton{
    @extend .botones-generales;
    display: block;
    margin:  0 auto 2rem auto;
    border-radius: 15px;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    letter-spacing: 1.7px;
    text-align: center;
    transition: all 1s;
}

.boton:hover{
    background-color:$color-hover
}
.card_img{ 
    @include sizes(100%, 23rem);
    border-radius: $radius-card; 
}

/* Lista index*/

.background{
    background-image: url('../Fotos/Fondo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
}


.tepodemosayudar{
    font-size: $size-titulos;
    font-weight: lighter;
    padding: 1.5rem;
    letter-spacing: 2px;
    color:$color-secundario;
    text-align: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    position: relative;
}

.tepodemosayudar::after{
    content: '';
    @include sizes(50px, 2.5px);
    background-color: $color-secundario;
    position: absolute;
    left: 730px;
    bottom: 10px;
    margin: 0 auto;
    border-radius: 30px;
}

.lista{
    @include flex-justify-spacearound;
    margin: 1% 40% 5% 5%;
}

.lista_listita1{
    color:$color-secundario;
    font-size: 15.3px;
    list-style:square;
    list-style-position: inherit;
    margin-right: 2%;
    margin-left: 4%;
    letter-spacing: 1px;
    line-height: 25px;
}

/* Dirección y redes*/

.subtitulo_contacto{
    font-size: 10px;
}

.info_necesaria{
    margin-right: 10%;
    letter-spacing: 2px;
    align-items: center;
}

.info_puntual{
    align-items: center;
}
.info_datos{
    @include tipografia (16px, bold);
    margin-bottom: 5%;
    margin-top: 10%;
}

.info_gral{
    margin-bottom: 10%;
    margin-top: 5%;
}

.fa-location-dot{
    font-size: 1.3rem;
}

.fa-whatsapp{
    font-size: 1.3rem;
}

.iconito{
    font-size: 1.3rem;
    color: black;
}

.redicon_{
    margin: 5%;
    @include sizes(15%, 15%);
}

.redicon_1{
    margin: 5%;
    @include sizes(14%, 14%);
}

.redicon_:hover{
    transform: scale(1.3);
} 

.redicon_1:hover{
    transform: scale(1.3);
} 

.ubicacion{
    margin-right: 100%;
}

/*Mediaquery index*/

@media (max-width: $pantalla-chica) {
    .background{
        background-image: url('../Fotos/Fondo.png');
        background-size: 100%;
        height: 100%;
    }

    .imagen {
        background-image: url(../Fotos/fondo1.png);
        height: 100%;
        background-size:  100%;
    }

    .tituloprincipal{
        font-size:10px;
        width: 100%;
        margin-top: 12%;
    }

    .invitacion{
        font-size:10px;
        line-height: 0.9rem;
        margin-top: 2% ;
        margin-bottom: 1%;
        width: 100%;
    }
    
    .subtituloayuda{
        font-size:10px;
        line-height: 0.7rem;
        margin: 5% 20% 2% 0.5%;
        width: 50%;
    }

    .subtituloayuda1{
        font-size:10px;
        line-height: 0.7rem;
        margin: 5% 20% 2% 0.5%;
        width: 50%;
    }

    .background{
        height: 100%;
        width: 100%;
    }

    .lista{
        margin: 0% auto 20% 4%;
        padding-bottom: 8%;
        width: 80%;
        height: 10%;
    }

    .tepodemosayudar{
    font-size:10px;
    width: 70%;
    margin-top: 0.2%;
    margin-right: 3% ;
    margin-bottom: 0.1%;
    padding: 3.5%;
    }

    .lista_listita1{
    font-size:6px;
    line-height: 0.6rem;
    margin: 0% 1% 0% 1%;
    width: 100%;
    }
    
    .nuestroservicios{
        margin-left:4rem;
    }

    .whatsapp{
        width: 9.5%;
        height: 5%;
    }
    .card1{
        border-radius: $radius-card; 
        width: 90%;
        height: 94%;
        margin: 5rem 0 5rem 2rem;
        background-color: $color-secundario;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    }

    .img{
        @include sizes(25%,20%);
        margin-top: 2rem;
        margin-bottom: 2rem;  
    }
    
    .img1{
        @include sizes(22%, 15%);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .card1_titulo5{
        font-size: 16px;
        letter-spacing: 0.4px;
    }

    .card1_texto{
        font-weight: medium;
        font-style: normal;
        text-align: center;
    }

    .subtitulo_contacto{
        margin-left: 2rem;
    }
}

@media(min-width: $pantalla-chica) and (max-width: $pantalla-mediana){
    .card{
        width: 45%;
        margin-left: 15rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .background {
        background-image: url('../Fotos/Fondo.png');
        background-size: 100%;
    }

    .tituloprincipal{
        font-size:20px;
    }
    
    .invitacion{
        font-size:12px;
        line-height: 1rem;
        margin-top: 5% ;
        margin-bottom: 2%;
    }

    .subtituloayuda{
        font-size:10px;
        line-height: 1rem;
        margin: 5% 20% 2% 0.5%;
        width: 50%;
    }

    .subtituloayuda1{
        font-size:10px;
        line-height: 1rem;
        margin: 5% 20% 2% 0.5%;
        width: 50%;
    }

    .tepodemosayudar{
        font-size:20px;
        margin-bottom: 0.2%;
    }
    
    .lista{
        margin: 0% auto 20% 4%;
        padding-bottom: 8%;
        @include sizes(70%, 10%);
    }
    
    .lista_listita1{
        font-size:8px;
        line-height: 0.8rem;
        margin-top: 0.5% ;
        margin-bottom: 2%;
    }
    
    .imagen {
        background-image: url(../Fotos/fondo1.png);
        height: 100%;
        background-size:  100%;
    }
}

@media (min-width: $pantalla-mediana) and (max-width: $pantalla-grande) {
    .background {
        background-image: url('../Fotos/Fondo.png');
        background-size: 100%;
    }

    .imagen {
        background-image: url(../Fotos/fondo1.png);
        height: 100%;
        background-size:  100%;
    }

    .card1{
        width: 90%;
        height: 100%;
    }

    .lista_listita1{
        margin-top: 0.5rem;
        line-height: 1.4rem;
        margin-top: 0.1rem;
    }
}